<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chamelle{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <div class="container">
            
            {# Navigation bar #}
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li> <a href="{{ path('chamelle_home') }}">Home</a> </li>
                            {% if app.user %} {# if user is authenticated #}
                            <li> <a href="{{ path('chamelle_user_account') }}">My account</a> </li>
                            <li> <a href="{{ path('chamelle_user_teams') }}">Teams</a> </li>
                            <li> <a href="{{ path('chamelle_thread_list') }}">Threads</a> </li>
                            <li> <a href="{{ path('chamelle_stat_stats') }}">Stats</a> </li>
                            <li class="divider-vertical"></li>
                            <li> <a href="{{ path('logout') }}">Sign out</a> </li>
                            {% else %}
                            <li class="divider-vertical"></li>
                            <li> <a href="{{ path('login') }}">Sign in</a> </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            
            {# Header #}
            <header class="hero-unit">
                <h1>Chamelle</h1>
                <p>God created man, man created Chamelle, Chamelle destroyed God.</p>
            </header>
            
            {# Body #}
            <div class="row">
                <div class="span12">
                {% block body %}
                {% endblock %}
                </div>
            </div>

            {# Footer #}
            <footer>
                <hr class="divider"></hr>
                <div class="row">
                    <div class="span12" style="text-align: right">
                        &copy; 2013 B-Chamelle, Inc. All rights reserved
                    </div>
                </div>
            </footer>
        </div>
            
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
